<!-- <p>Find me in app/views/produkt_katalog/index.html.erb</p> -->

<body> 
	<div id="Inhalt">
		<h2>Produktkatalog</h2>
		<p>Hier finden Sie alle Produkte die wir momentan anbieten:</p>
		<br>
		<table> 
			<%  @indexresult.each do |anzeigen|  %> 
			<tr>
				<td><h4><%= "#{anzeigen.name}" %></h4></td>
			</tr>
			<tr>
				<td><img src=<% "/assets/" + "#{anzeigen.produktbild}" %> width="100" height="100" alt=<%= "#{anzeigen.name}" %>></td>
				<td>beschreibung</td>
			</tr>
			<% end %> 
		</table>
		<br>
		<br>
		<br>
		<%= form_tag("/produkt_katalog/search",:controller => "ProduktKatalog" , :method => "post") do %>
		  <%= label_tag(:searchinput, "Produktsuche:") %> 
		  <%= text_field_tag(:searchinput)  %> 
		  <%= submit_tag("Suchen") %> 
		<% end %> 
	</div>
</body> 

