<body> 
	<div id="Inhalt">
		<h2>Produktkatalog</h2>
		<p>Hier finden Sie alle Produkte die wir momentan anbieten:</p>
		<br>
		<table> 
			<% addinput = nil %> 
			<%  @indexresult.each do |anzeigen|  %> 
				<tr>
					<td><h4><%= "#{anzeigen.name}" %></h4></td>
				</tr>
				<tr> <!-- wenn der zusammengebaute string angezeigt werden soll, dann %= in ERB verwenden! -->
					<td><img src=<%= "/assets/" + "#{anzeigen.produktbild}" %> width="100" height="100" alt=<%= "#{anzeigen.name}" %>></td>
					<td><%= "#{anzeigen.beschreibung}"%></td>
					<tr>
						<td>EUR <%= "#{anzeigen.preis}"%></td>
						<!-- HIER MAL ANSCHAUEN -->
						<td> 
							<%= form_tag("/produkt_katalog/add",:controller => "ProduktKatalog" , :method => "post") do %> 
							<%= hidden_field_tag "addinput",  anzeigen.id %> 
							<%= submit_tag "In den Warenkorb"  %> 
							
							<% end %> 
						</td>
						
					</tr>
				</tr>
			<% end %> 
		</table>
		<br>
		<br>
		<br>
		<%= form_tag("/produkt_katalog/search",:controller => "ProduktKatalog" , :method => "post") do %>
		  <%= label_tag(:searchinput, "Produktsuche:") %> 
		  <%= text_field_tag(:searchinput)  %> 
		  <%= submit_tag("Suchen") %> 
		<% end %> 
	</div>
</body> 

