<!DOCTYPE html>
<html>
<head>
  <title>WolkenWebShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>WebShop</h1>
	<br>

	<ul id="Navigation">
		<li><%= link_to 'Startseite', "http://localhost:3000/"%></li>
		<li><%= link_to 'Produkt-Katalog', "/produkt_katalog/index"%></li>
		<li><%= link_to 'Benutzer-Seite', "http://localhost:3000/user/index"%></li> 
	</ul>
	
	<div id="Warenkorb">
		<h3> Login-Bereich </h3>
		<br>
		
		<h3> Warenkorb </h3>
		<% sum = 0 %> 
		<%  $warenkorbListe.each_with_index do |element,index|  %> 
			<% sum += element.preis %> 
       <li> <!-- <%= "#{element.name}: #{element.preis} €" %> --> 
       			<%= form_tag("/produkt_katalog/delete",:controller => "ProduktKatalog" , :method => "post") do %> 
       			<%= "#{element.name}: #{element.preis} €" %>
				<%= hidden_field_tag "deleteInput",  index %> 
				<%= submit_tag("-") %>
				<% end %>
				
				
				


       </li>
    <% end %>
		<br>
		Summe: <%= sum  %> €  
		<br>
		<br>
		<%= link_to 'Zur Kasse', "http://localhost:3000/kasse/index"%>
	</div>
	
<%= yield %>

</body>



</html>
